<!DOCTYPE html>
<html>
<head>
    <!--就直接是一个登录界面就行了，没有花哨的功能-->
    <meta charset="UTF-8"/>
    <title>管理员登录</title>
</head>
<body>
<form th:action="@{/adminLogin}" th:object="${admin}" method="post">
    <table>
        <tr>
            <td>账户：</td>
            <td><input type="text" id="username" th:field="*{loginName}"/></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" id="password" th:field="*{loginPwd}"/></td>
            <td><button type="submit">登录</button></td>
        </tr>
    </table>
</form>
</body>
</html>